* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  /* width: 100%; */
  align-items: center;
  /* margin:auto; */
}
.nav-menu {
    align-items: center;
  display: flex;
  flex-direction: row;
}
.nav-icons{
    display: flex;
}